/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 3.5rem;
  margin-bottom: 10px;
  /* Margin bottom by footer height */
}

.navbar{
  background-color: rgb(250, 244, 242)!important;
  opacity: 1.5;
}
.navbar-toggler:focus {
  outline: 0;
}

.navbar strong span {
  color: #63bfe4;
}

.navbar-nav li a {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color : rgb(63, 153, 238)!important;
  text-shadow: #777!important;
}

.logo{
  height: 70px;
  width: auto;
  text-shadow: dimgrey!important;
  color:black;

}
/* Seccion llamados */

h5 , h1 {
  font-family: 'Kaushan Script', cursive;
}

h2 {
  color:gray;
  font-size: 20px;
  font-family: 'merienda',cursive;
}

#boton-llamado{
  font-family: 'Basic', sans-serif;
}

/* Seccion sabores */

.sabores {
font-family: 'Roboto', sans-serif;
font-size: 20px;
}

/* Carousel base class */

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 36rem;
}

.btn-group {
  width: 100%;
}

#card button {
  width: 70%;
  border: none!important;
  font-weight: bold!important;
  font-size: 1.5em!important;
}

#card button#dulce {
  background-color: #a26e39;

}

#card button#choco {
  background-color: #7b6957;
}

#card button#frutal {
  background-color: #e1b9cd;
}

#card button#cream {
  background-color: #e2d1aa;
}

ul {
  list-style-type: none;
  padding: 0px;
  font-weight: bold!important;
}

#card {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin: auto auto;
  margin-bottom: 1%;
}

.card {
  border:none;
}

#card .btn-primary:focus {
box-shadow: none;
}

#gustos, #call, #ubicacion {
  padding-top: 7em;
}
/* .slider{
    margin-bottom: 30px;;
} */

.form-inline .form-control{
  width: 170px;
}


.center {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.full {
  padding: 0% !important;
  width: 100%;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 5px;
}

footer {
  margin-top: 20px;
  padding-top: 2rem;
  padding: 1%;
  background-color: rgb(250, 244, 242)!important;
}

footer p {
  margin-bottom: .15rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-img {
  display: flex;
  justify-content: center;
}
